/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/


.page_grid-container__Mk6cb{
  display: grid;
  max-width: 700px; 
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  gap: 10px;
}

.page_grid-main___z2cx > p{
  text-align: left;
  margin: 0;
}

.page_grid-skills__E6nXL {
  text-align: justify;
  padding-left: 50px;
}

.page_grid-professional__AcHz0{
  grid-row: 2;
}
.page_grid-professional__AcHz0{
  border: 2px solid rgba(0, 0, 0, 0.418);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.222);
  padding: 5px;
}

.page_grid-academic__Lp1T7{
  grid-row: 3;
  margin-top: -85px;
}

.page_grid-academic1__XtOIk{
  border: 2px solid rgba(0, 0, 0, 0.418);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.222);
  padding: 5px;
  width: 200px;
  height: 155px;
}

.page_grid-academic2__aKxCb{
  border: 2px solid rgba(0, 0, 0, 0.418);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.222);
  grid-column: 2 ;
  grid-row: 3;
  margin-top: 10px;
  padding: 5px;
  width: 200px;
  height: 155px;
}

.page_grid-academic3__L_qGY{
  border: 2px solid rgba(0, 0, 0, 0.418);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.222);
  grid-column: 3 ;
  grid-row: 3 ;
  margin-top: 10px;
  padding: 5px;
  width: 200px;
  height: 155px;
}


